<div class="container register-component">
    <div class="row justify-content-center full-height">
        <div class="col-5 view-area">
            <form class="needs-validation" novalidate #form="ngForm">
                <fieldset [disabled]="busy">
                    <img class="logo" src="assets/logo-inline.png">

                    <div class="form-group row ">
                        <label for="username" class="col-4 col-form-label">User name</label>
                        <div class="col-8 error-tooltip">
                            <input type="text" class="form-control" id="username" placeholder="user name" name="username" required triggers="manual"
                                [(ngModel)]="newUser.username" #username="ngModel">
                            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="row">

                                <div *ngIf="username.errors.required" class="error-message text-danger col-12 font-italic">
                                    User name is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-4 col-form-label">Password</label>
                        <div class="col-8">
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required [(ngModel)]="newUser.password"
                                #password="ngModel">
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="row">

                                <div *ngIf="password.errors.required" class="error-message text-danger col-12 font-italic">
                                    Password is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-4 col-form-label">Phone number</label>
                        <div class="col-8">
                            <input type="tel" class="form-control" id="phone" placeholder="Phone" name="phone" required pattern="\d{3}\s\d{3}\s\d{4}"
                                [(ngModel)]="newUser.phone" #phone="ngModel">
                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="row">

                                <div *ngIf="phone.errors.required" class="error-message text-danger col-12 font-italic">
                                    Phone number is required.
                                </div>
                                <div *ngIf="phone.errors.pattern" class="error-message text-danger col-12 font-italic">
                                    Please enter in valid format XXX XXX XXXX.
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-register" [disabled]="form.invalid" (click)="registerNewUser()">Register</button>
                    <button type="button" class="btn btn-danger btn-register" routerLink="/">Cancel</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>