<div  class="float-right message-container" >
  <div *ngFor='let message of messageService.messages.slice().reverse(); let i = index;'
    class="alert" [ngClass]="message.messageClass"
    [@moveDown]="i"> {{message.message}} </div>
</div>
