<div class="container user-list-component">
  <div class="row justify-content-center full-height">
      <div class="col-5 view-area">
          <img class="logo" src="assets/logo-inline.png">
          <table class="table table-striped table-">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">User name</th>
                  <th scope="col">Phone number</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of userList.users" >
                  <td>{{user.id}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.phone}}</td>
                </tr>
              </tbody>
            </table>
            <div class="button-group">
                <button type="button" class="btn btn-danger" (click)="performLogout()">Logout</button>
                <button type="button" class="btn btn-info" (click)="loadAllUsers(true)">Refresh</button>
            </div>
      </div>
  </div>
</div>
