<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid main-app-area">
    <div class="float-right active-users">
            <button type="button" class="btn btn-outline-primary btn-sm"
            disabled="true" 
                >
                Active users <span [@flash]="activeUsers" class="badge badge-dark">{{activeUsers}}</span>
            </button>
    </div>
    <app-message></app-message>
    <router-outlet></router-outlet>
</div>


