/* You can add global styles to this file, and also import other style files */
html,body {
    height: 100%
}

.full-height {
    height: 100%
}

.ng-valid[required], .ng-valid.required  {
    border-right : 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-right: 5px solid #a94442; /* red */
}

.error-message {
    font-size: smaller;
}