<div class="container login-component">
    <div class="row align-items-center justify-content-center full-height">
        <div class="col-4 view-area">
            <form novalidate #form="ngForm">
                <fieldset [disabled]="busy">
                    <img class="logo" src="assets/logo.png">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="User name" required [(ngModel)]="username"
                            #usernamef="ngModel">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required [(ngModel)]="password"
                            #passwordf="ngModel">
                    </div>

                    <div *ngIf="passwordf.invalid && (passwordf.dirty || passwordf.touched)" class="row">

                        <div *ngIf="passwordf.errors.required" class="error-message text-danger col-12 font-italic">
                            Password is required.
                        </div>
                    </div>
                    <div *ngIf="usernamef.invalid && (usernamef.dirty || usernamef.touched)" class="row">

                        <div *ngIf="usernamef.errors.required" class="error-message text-danger col-12 font-italic">
                            User name is required.
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary btn-block btn-login" (click)="performLogin()" [disabled]="form.invalid">Login</button>
                    <p class="register">
                        <a href="" routerLink="/register" class=" text-danger">Register</a>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>