.login-component {
    height: 100%;
    text-align: center;
}

.sign-in-heading {
    text-align: center;
}

.form-group {
    margin: 0;
}

.btn-login{
    margin-top: 15px;
}

.register{
    text-align: right;
}

.view-area{
    min-width: 300px;
    max-width: 300px;
    
    margin-top: -100px;
}